/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*custom css */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #59bfc2;
  --secondary: #283e7d;
  --text: #bdc8e0;
}
html {
  font-size: 16px;
}
body {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.header {
  background-color: var(--primary);
}
.sub-header {
  font-size: 1.6rem;
}
.title {
  text-align: center;
}
h1 {
  font-size: 4rem;
  line-height: 1;
  width: 600px;
  margin: 2rem auto;
  margin-top: 4rem;
}
ul a {
  margin-right: 1rem;
  color: white;
}
.btn {
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 0;
  display: block;
  margin: 0 auto;
  width: 15rem;
}
.btn a {
  color: var(--secondary);
  font-weight: bolder;
}
.hero-image {
  margin-bottom: -8rem;
  box-shadow: 0px 35px 15px -15px #888888;
  border-radius: 10px;
  margin-top: 2rem;
}
/* section 1 */
.section1 {
  margin-top: 15rem;
}
.text {
  color: var(--secondary);
  font-size: 2.4rem;
}
h3 {
  color: var(--text);
  display: inline-block;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-left: 1rem;
}
.flex-45 {
  flex: 0 1 48%;
}
.text-score {
  text-align: center;
  color: var(--secondary);
  font-size: 2.4rem;
  text-transform: uppercase;
}
.table-section {
  margin: 3rem 0;
}
table {
  width: 100%;
  margin: 1rem auto;
  border: 1px solid grey;
  border-radius: 1em;
  overflow: hidden;
}
td {
  border: 1px solid grey;
  padding: 0.6rem 1rem;
  color: #7f8288;
}
tr:nth-child(even) {
  background-color: #d5e5e5;
}
th {
  background-color: var(--primary);
  padding: 1rem;
  text-align: left;
}
.box {
  border: 4px solid grey;
  padding: 2rem;
  width: 500px;
  border-radius: 35px;
  color: #283e7d;
}
div:empty {
  border: 1px solid grey;
  margin-top: 2rem;
}
.empty {
  margin: 4rem 8rem;
}
.tick {
  list-style-image: url("../tick.png");
  color: var(--secondary);
  list-style-position: inside;
}
.cross {
  list-style-image: url("../cross.png");
  list-style-position: inside;
  color: var(--text);
}
.list {
  margin: 1rem 0;
}
.list li {
  padding: 0.5rem;
  font-size: 1.4rem;
}
.center {
  text-align: center;
}
.box-header {
  font-size: 2rem;
  width: 25rem;
  color: var(--secondary);
  margin: 3rem auto;
}
.bg {
  background-color: var(--primary);
  padding: 5rem 0;
  border-radius: 2rem;
  margin-top: 3rem;
}
.block-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.icon i {
  background-color: #59bfc2;
  color: white;
  padding: 1rem;
  border-radius: 50%;
}
.footer-text {
  color: var(--secondary);
  margin-bottom: 1rem;
  font-size: 2rem;
}
.text1 {
  color: #6b7fad;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.flex-25 {
  flex: 1 1 25%;
}
.align {
  vertical-align: top;
}
.footer {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.align {
  padding-left: 1rem;
}
.align-right {
  text-align: right;
}
.triangle::before {
  content: " ";
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  position: absolute;
  top: 2px;
  left: -1.3rem;
  transform: rotate(45deg);
  z-index: 7;
}
.triangle {
  padding: 0.8rem;
  background-color: var(--primary);
  color: white;
  width: 10rem;
  border: 0;
  font-size: 1.2rem;
  position: relative;
  z-index: 1;
  border-radius: 5px;
}
.triangle::after {
  content: " ";
  width: 2.3rem;
  height: 1.99rem;
  background-color: var(--primary);
  position: absolute;
  bottom: 8px;
  right: -0.9rem;
  transform: rotate(45deg);
}
.big-circle {
  background-color: #bbecec;
  width: 5rem;
  height: 2rem;
  padding: 0.4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
}
.circle {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: 1.2rem;
  background-color: #59bfc2;
  border-radius: 50%;
  color: white;
  font-size: 0.6rem;
  font-weight: bolder;
}
.flex-container {
  display: flex;
  color: var(--secondary);
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}
.btn1 {
  width: 100%;
  border: 1px solid var(--text);
  background-color: white;
}
.btn-bg {
  background-color: var(--primary);
}
.btn-bg a {
  color: white;
}
.number {
  font-size: 3rem;
  color: #59bfc2;
}
.padding {
  padding-top: 2rem;
}
.icon i:nth-child(even) {
  margin: 0 8px;
}
